@charset "utf-8";




@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
     


@font-face{
    font-family: 'romelio' ;
    src: url(Fontes/Segoe\ UI\ Bold\ Italic.ttf) format('opentype') url(fontes/Segoe\ UI\ Bold.ttf) format('truetype')
}
h1{
    font: italic 900 2em 'romelio'
}